<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row class="ion-align-items-center">
        <ion-col size="1">
          <ion-img class="camera" [src]="'assets/icon/icon-camera.png'"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-img class="insta-name" [src]="'assets/icon/icon-insta-name.png'"></ion-img>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-profile></app-profile>
</ion-content>